<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
</head>
<body>

<p>The following packages installed on <a href="http://{{ site.domain }}/">{{ site.name }}</a>
have updates available on the <a href="http://pypi.python.org/">Python Package Index</a>.</p>

{{ tables.html|safe }}

<p>Please check their compatibility and look to update them in a minor update for this site.</p>

</body>
</html>