<tr>
  <th>
    <label for="id_timestamp_0">Timestamp:</label>
  </th>
  <td>
    <span class="date_part">
      <select name="timestamp_0" id="id_timestamp_0">
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24" selected="selected">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <select name="timestamp_1" id="id_timestamp_1">
        <option value=""></option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3" selected="selected">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <input type="text" name="timestamp_2" value="2013" id="id_timestamp_2" />
    </span>
    <span class="time_part tz">
      <select name="timestamp_3" id="id_timestamp_3">
        <option value=""></option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14" selected="selected">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
      </select>
      <select name="timestamp_4" id="id_timestamp_4">
        <option value=""></option>
        <option value="0">00</option>
        <option value="1">01</option>
        <option value="2">02</option>
        <option value="3">03</option>
        <option value="4">04</option>
        <option value="5">05</option>
        <option value="6">06</option>
        <option value="7">07</option>
        <option value="8">08</option>
        <option value="9">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30" selected="selected">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="50">50</option>
        <option value="51">51</option>
        <option value="52">52</option>
        <option value="53">53</option>
        <option value="54">54</option>
        <option value="55">55</option>
        <option value="56">56</option>
        <option value="57">57</option>
        <option value="58">58</option>
        <option value="59">59</option>
      </select>
      <select id="id_timestamp_5" name="timestamp_5">
        <option value=""></option>
        <optgroup label="Universal">
          <option value="UTC">Coordinated Universal Time</option>
          <option value="GMT">Greenwich Mean Time</option>
        </optgroup>
        <optgroup label="Aaland Islands">
          <option value="Europe/Mariehamn">Mariehamn</option>
        </optgroup>
        <optgroup label="Afghanistan">
          <option value="Asia/Kabul">Kabul</option>
        </optgroup>
        <optgroup label="Albania">
          <option value="Europe/Tirane">Tirane</option>
        </optgroup>
        <optgroup label="Algeria">
          <option value="Africa/Algiers">Algiers</option>
        </optgroup>
        <optgroup label="Andorra">
          <option value="Europe/Andorra">Andorra</option>
        </optgroup>
        <optgroup label="Angola">
          <option value="Africa/Luanda">Luanda</option>
        </optgroup>
        <optgroup label="Anguilla">
          <option value="America/Anguilla">Anguilla</option>
        </optgroup>
        <optgroup label="Antarctica">
          <option value="Antarctica/Casey">Casey</option>
          <option value="Antarctica/Davis">Davis</option>
          <option value="Antarctica/DumontDUrville">DumontDUrville</option>
          <option value="Antarctica/Mawson">Mawson</option>
          <option value="Antarctica/McMurdo">McMurdo</option>
          <option value="Antarctica/Palmer">Palmer</option>
          <option value="Antarctica/Rothera">Rothera</option>
          <option value="Antarctica/Syowa">Syowa</option>
          <option value="Antarctica/Vostok">Vostok</option>
        </optgroup>
        <optgroup label="Antigua &amp; Barbuda">
          <option value="America/Antigua">Antigua</option>
        </optgroup>
        <optgroup label="Argentina">
          <option value="America/Argentina/Buenos_Aires">Buenos Aires</option>
          <option value="America/Argentina/Catamarca">Catamarca</option>
          <option value="America/Argentina/Cordoba">Cordoba</option>
          <option value="America/Argentina/Jujuy">Jujuy</option>
          <option value="America/Argentina/La_Rioja">La Rioja</option>
          <option value="America/Argentina/Mendoza">Mendoza</option>
          <option value="America/Argentina/Rio_Gallegos">Rio Gallegos</option>
          <option value="America/Argentina/Salta">Salta</option>
          <option value="America/Argentina/San_Juan">San Juan</option>
          <option value="America/Argentina/San_Luis">San Luis</option>
          <option value="America/Argentina/Tucuman">Tucuman</option>
          <option value="America/Argentina/Ushuaia">Ushuaia</option>
        </optgroup>
        <optgroup label="Armenia">
          <option value="Asia/Yerevan">Yerevan</option>
        </optgroup>
        <optgroup label="Aruba">
          <option value="America/Aruba">Aruba</option>
        </optgroup>
        <optgroup label="Australia">
          <option value="Australia/Adelaide">Adelaide</option>
          <option value="Australia/Brisbane">Brisbane</option>
          <option value="Australia/Broken_Hill">Broken Hill</option>
          <option value="Australia/Currie">Currie</option>
          <option value="Australia/Darwin">Darwin</option>
          <option value="Australia/Eucla">Eucla</option>
          <option value="Australia/Hobart">Hobart</option>
          <option value="Australia/Lindeman">Lindeman</option>
          <option value="Australia/Lord_Howe">Lord Howe</option>
          <option value="Antarctica/Macquarie">Macquarie</option>
          <option value="Australia/Melbourne">Melbourne</option>
          <option value="Australia/Perth">Perth</option>
          <option selected="selected" value="Australia/Sydney">Sydney</option>
        </optgroup>
        <optgroup label="Austria">
          <option value="Europe/Vienna">Vienna</option>
        </optgroup>
        <optgroup label="Azerbaijan">
          <option value="Asia/Baku">Baku</option>
        </optgroup>
        <optgroup label="Bahamas">
          <option value="America/Nassau">Nassau</option>
        </optgroup>
        <optgroup label="Bahrain">
          <option value="Asia/Bahrain">Bahrain</option>
        </optgroup>
        <optgroup label="Bangladesh">
          <option value="Asia/Dhaka">Dhaka</option>
        </optgroup>
        <optgroup label="Barbados">
          <option value="America/Barbados">Barbados</option>
        </optgroup>
        <optgroup label="Belarus">
          <option value="Europe/Minsk">Minsk</option>
        </optgroup>
        <optgroup label="Belgium">
          <option value="Europe/Brussels">Brussels</option>
        </optgroup>
        <optgroup label="Belize">
          <option value="America/Belize">Belize</option>
        </optgroup>
        <optgroup label="Benin">
          <option value="Africa/Porto-Novo">Porto-Novo</option>
        </optgroup>
        <optgroup label="Bermuda">
          <option value="Atlantic/Bermuda">Bermuda</option>
        </optgroup>
        <optgroup label="Bhutan">
          <option value="Asia/Thimphu">Thimphu</option>
        </optgroup>
        <optgroup label="Bolivia">
          <option value="America/La_Paz">La Paz</option>
        </optgroup>
        <optgroup label="Bosnia &amp; Herzegovina">
          <option value="Europe/Sarajevo">Sarajevo</option>
        </optgroup>
        <optgroup label="Botswana">
          <option value="Africa/Gaborone">Gaborone</option>
        </optgroup>
        <optgroup label="Bouvet Island"></optgroup>
        <optgroup label="Brazil">
          <option value="America/Araguaina">Araguaina</option>
          <option value="America/Bahia">Bahia</option>
          <option value="America/Belem">Belem</option>
          <option value="America/Boa_Vista">Boa Vista</option>
          <option value="America/Campo_Grande">Campo Grande</option>
          <option value="America/Cuiaba">Cuiaba</option>
          <option value="America/Eirunepe">Eirunepe</option>
          <option value="America/Fortaleza">Fortaleza</option>
          <option value="America/Maceio">Maceio</option>
          <option value="America/Manaus">Manaus</option>
          <option value="America/Noronha">Noronha</option>
          <option value="America/Porto_Velho">Porto Velho</option>
          <option value="America/Recife">Recife</option>
          <option value="America/Rio_Branco">Rio Branco</option>
          <option value="America/Santarem">Santarem</option>
          <option value="America/Sao_Paulo">Sao Paulo</option>
        </optgroup>
        <optgroup label="Britain (UK)">
          <option value="Europe/London">London</option>
        </optgroup>
        <optgroup label="British Indian Ocean Territory">
          <option value="Indian/Chagos">Chagos</option>
        </optgroup>
        <optgroup label="Brunei">
          <option value="Asia/Brunei">Brunei</option>
        </optgroup>
        <optgroup label="Bulgaria">
          <option value="Europe/Sofia">Sofia</option>
        </optgroup>
        <optgroup label="Burkina Faso">
          <option value="Africa/Ouagadougou">Ouagadougou</option>
        </optgroup>
        <optgroup label="Burundi">
          <option value="Africa/Bujumbura">Bujumbura</option>
        </optgroup>
        <optgroup label="Cambodia">
          <option value="Asia/Phnom_Penh">Phnom Penh</option>
        </optgroup>
        <optgroup label="Cameroon">
          <option value="Africa/Douala">Douala</option>
        </optgroup>
        <optgroup label="Canada">
          <option value="America/Atikokan">Atikokan</option>
          <option value="America/Blanc-Sablon">Blanc-Sablon</option>
          <option value="America/Cambridge_Bay">Cambridge Bay</option>
          <option value="America/Creston">Creston</option>
          <option value="America/Dawson">Dawson</option>
          <option value="America/Dawson_Creek">Dawson Creek</option>
          <option value="America/Edmonton">Edmonton</option>
          <option value="America/Glace_Bay">Glace Bay</option>
          <option value="America/Goose_Bay">Goose Bay</option>
          <option value="America/Halifax">Halifax</option>
          <option value="America/Inuvik">Inuvik</option>
          <option value="America/Iqaluit">Iqaluit</option>
          <option value="America/Moncton">Moncton</option>
          <option value="America/Nipigon">Nipigon</option>
          <option value="America/Pangnirtung">Pangnirtung</option>
          <option value="America/Rainy_River">Rainy River</option>
          <option value="America/Rankin_Inlet">Rankin Inlet</option>
          <option value="America/Regina">Regina</option>
          <option value="America/Resolute">Resolute</option>
          <option value="America/St_Johns">St Johns</option>
          <option value="America/Swift_Current">Swift Current</option>
          <option value="America/Thunder_Bay">Thunder Bay</option>
          <option value="America/Toronto">Toronto</option>
          <option value="America/Vancouver">Vancouver</option>
          <option value="America/Whitehorse">Whitehorse</option>
          <option value="America/Winnipeg">Winnipeg</option>
          <option value="America/Yellowknife">Yellowknife</option>
        </optgroup>
        <optgroup label="Cape Verde">
          <option value="Atlantic/Cape_Verde">Cape Verde</option>
        </optgroup>
	<optgroup label="Caribbean Netherlands">
	  <option value="America/Kralendijk">Kralendijk</option>
	</optgroup>
        <optgroup label="Cayman Islands">
          <option value="America/Cayman">Cayman</option>
        </optgroup>
        <optgroup label="Central African Rep.">
          <option value="Africa/Bangui">Bangui</option>
        </optgroup>
        <optgroup label="Chad">
          <option value="Africa/Ndjamena">Ndjamena</option>
        </optgroup>
        <optgroup label="Chile">
          <option value="Pacific/Easter">Easter</option>
          <option value="America/Santiago">Santiago</option>
        </optgroup>
        <optgroup label="China">
          <option value="Asia/Chongqing">Chongqing</option>
          <option value="Asia/Harbin">Harbin</option>
          <option value="Asia/Kashgar">Kashgar</option>
          <option value="Asia/Shanghai">Shanghai</option>
          <option value="Asia/Urumqi">Urumqi</option>
        </optgroup>
        <optgroup label="Christmas Island">
          <option value="Indian/Christmas">Christmas</option>
        </optgroup>
        <optgroup label="Cocos (Keeling) Islands">
          <option value="Indian/Cocos">Cocos</option>
        </optgroup>
        <optgroup label="Colombia">
          <option value="America/Bogota">Bogota</option>
        </optgroup>
        <optgroup label="Comoros">
          <option value="Indian/Comoro">Comoro</option>
        </optgroup>
        <optgroup label="Congo (Dem. Rep.)">
          <option value="Africa/Kinshasa">Kinshasa</option>
          <option value="Africa/Lubumbashi">Lubumbashi</option>
        </optgroup>
        <optgroup label="Congo (Rep.)">
          <option value="Africa/Brazzaville">Brazzaville</option>
        </optgroup>
        <optgroup label="Cook Islands">
          <option value="Pacific/Rarotonga">Rarotonga</option>
        </optgroup>
        <optgroup label="Costa Rica">
          <option value="America/Costa_Rica">Costa Rica</option>
        </optgroup>
        <optgroup label="Cote d'Ivoire">
          <option value="Africa/Abidjan">Abidjan</option>
        </optgroup>
        <optgroup label="Croatia">
          <option value="Europe/Zagreb">Zagreb</option>
        </optgroup>
        <optgroup label="Cuba">
          <option value="America/Havana">Havana</option>
        </optgroup>
        <optgroup label="Curacao">
          <option value="America/Curacao">Curacao</option>
        </optgroup>
        <optgroup label="Cyprus">
          <option value="Asia/Nicosia">Nicosia</option>
        </optgroup>
        <optgroup label="Czech Republic">
          <option value="Europe/Prague">Prague</option>
        </optgroup>
        <optgroup label="Denmark">
          <option value="Europe/Copenhagen">Copenhagen</option>
        </optgroup>
        <optgroup label="Djibouti">
          <option value="Africa/Djibouti">Djibouti</option>
        </optgroup>
        <optgroup label="Dominica">
          <option value="America/Dominica">Dominica</option>
        </optgroup>
        <optgroup label="Dominican Republic">
          <option value="America/Santo_Domingo">Santo Domingo</option>
        </optgroup>
        <optgroup label="East Timor">
          <option value="Asia/Dili">Dili</option>
        </optgroup>
        <optgroup label="Ecuador">
          <option value="Pacific/Galapagos">Galapagos</option>
          <option value="America/Guayaquil">Guayaquil</option>
        </optgroup>
        <optgroup label="Egypt">
          <option value="Africa/Cairo">Cairo</option>
        </optgroup>
        <optgroup label="El Salvador">
          <option value="America/El_Salvador">El Salvador</option>
        </optgroup>
        <optgroup label="Equatorial Guinea">
          <option value="Africa/Malabo">Malabo</option>
        </optgroup>
        <optgroup label="Eritrea">
          <option value="Africa/Asmara">Asmara</option>
        </optgroup>
        <optgroup label="Estonia">
          <option value="Europe/Tallinn">Tallinn</option>
        </optgroup>
        <optgroup label="Ethiopia">
          <option value="Africa/Addis_Ababa">Addis Ababa</option>
        </optgroup>
        <optgroup label="Falkland Islands">
          <option value="Atlantic/Stanley">Stanley</option>
        </optgroup>
        <optgroup label="Faroe Islands">
          <option value="Atlantic/Faroe">Faroe</option>
        </optgroup>
        <optgroup label="Fiji">
          <option value="Pacific/Fiji">Fiji</option>
        </optgroup>
        <optgroup label="Finland">
          <option value="Europe/Helsinki">Helsinki</option>
        </optgroup>
        <optgroup label="France">
          <option value="Europe/Paris">Paris</option>
        </optgroup>
        <optgroup label="French Guiana">
          <option value="America/Cayenne">Cayenne</option>
        </optgroup>
        <optgroup label="French Polynesia">
          <option value="Pacific/Gambier">Gambier</option>
          <option value="Pacific/Marquesas">Marquesas</option>
          <option value="Pacific/Tahiti">Tahiti</option>
        </optgroup>
        <optgroup label="French Southern &amp; Antarctic Lands">
          <option value="Indian/Kerguelen">Kerguelen</option>
        </optgroup>
        <optgroup label="Gabon">
          <option value="Africa/Libreville">Libreville</option>
        </optgroup>
        <optgroup label="Gambia">
          <option value="Africa/Banjul">Banjul</option>
        </optgroup>
        <optgroup label="Georgia">
          <option value="Asia/Tbilisi">Tbilisi</option>
        </optgroup>
        <optgroup label="Germany">
          <option value="Europe/Berlin">Berlin</option>
          <option value="Europe/Busingen">Busingen</option>
        </optgroup>
        <optgroup label="Ghana">
          <option value="Africa/Accra">Accra</option>
        </optgroup>
        <optgroup label="Gibraltar">
          <option value="Europe/Gibraltar">Gibraltar</option>
        </optgroup>
        <optgroup label="Greece">
          <option value="Europe/Athens">Athens</option>
        </optgroup>
        <optgroup label="Greenland">
          <option value="America/Danmarkshavn">Danmarkshavn</option>
          <option value="America/Godthab">Godthab</option>
          <option value="America/Scoresbysund">Scoresbysund</option>
          <option value="America/Thule">Thule</option>
        </optgroup>
        <optgroup label="Grenada">
          <option value="America/Grenada">Grenada</option>
        </optgroup>
        <optgroup label="Guadeloupe">
          <option value="America/Guadeloupe">Guadeloupe</option>
        </optgroup>
        <optgroup label="Guam">
          <option value="Pacific/Guam">Guam</option>
        </optgroup>
        <optgroup label="Guatemala">
          <option value="America/Guatemala">Guatemala</option>
        </optgroup>
        <optgroup label="Guernsey">
          <option value="Europe/Guernsey">Guernsey</option>
        </optgroup>
        <optgroup label="Guinea">
          <option value="Africa/Conakry">Conakry</option>
        </optgroup>
        <optgroup label="Guinea-Bissau">
          <option value="Africa/Bissau">Bissau</option>
        </optgroup>
        <optgroup label="Guyana">
          <option value="America/Guyana">Guyana</option>
        </optgroup>
        <optgroup label="Haiti">
          <option value="America/Port-au-Prince">Port-au-Prince</option>
        </optgroup>
        <optgroup label="Heard Island &amp; McDonald Islands"></optgroup>
        <optgroup label="Honduras">
          <option value="America/Tegucigalpa">Tegucigalpa</option>
        </optgroup>
        <optgroup label="Hong Kong">
          <option value="Asia/Hong_Kong">Hong Kong</option>
        </optgroup>
        <optgroup label="Hungary">
          <option value="Europe/Budapest">Budapest</option>
        </optgroup>
        <optgroup label="Iceland">
          <option value="Atlantic/Reykjavik">Reykjavik</option>
        </optgroup>
        <optgroup label="India">
          <option value="Asia/Kolkata">Kolkata</option>
        </optgroup>
        <optgroup label="Indonesia">
          <option value="Asia/Jakarta">Jakarta</option>
          <option value="Asia/Jayapura">Jayapura</option>
          <option value="Asia/Makassar">Makassar</option>
          <option value="Asia/Pontianak">Pontianak</option>
        </optgroup>
        <optgroup label="Iran">
          <option value="Asia/Tehran">Tehran</option>
        </optgroup>
        <optgroup label="Iraq">
          <option value="Asia/Baghdad">Baghdad</option>
        </optgroup>
        <optgroup label="Ireland">
          <option value="Europe/Dublin">Dublin</option>
        </optgroup>
        <optgroup label="Isle of Man">
          <option value="Europe/Isle_of_Man">Isle of Man</option>
        </optgroup>
        <optgroup label="Israel">
          <option value="Asia/Jerusalem">Jerusalem</option>
        </optgroup>
        <optgroup label="Italy">
          <option value="Europe/Rome">Rome</option>
        </optgroup>
        <optgroup label="Jamaica">
          <option value="America/Jamaica">Jamaica</option>
        </optgroup>
        <optgroup label="Japan">
          <option value="Asia/Tokyo">Tokyo</option>
        </optgroup>
        <optgroup label="Jersey">
          <option value="Europe/Jersey">Jersey</option>
        </optgroup>
        <optgroup label="Jordan">
          <option value="Asia/Amman">Amman</option>
        </optgroup>
        <optgroup label="Kazakhstan">
          <option value="Asia/Almaty">Almaty</option>
          <option value="Asia/Aqtau">Aqtau</option>
          <option value="Asia/Aqtobe">Aqtobe</option>
          <option value="Asia/Oral">Oral</option>
          <option value="Asia/Qyzylorda">Qyzylorda</option>
        </optgroup>
        <optgroup label="Kenya">
          <option value="Africa/Nairobi">Nairobi</option>
        </optgroup>
        <optgroup label="Kiribati">
          <option value="Pacific/Enderbury">Enderbury</option>
          <option value="Pacific/Kiritimati">Kiritimati</option>
          <option value="Pacific/Tarawa">Tarawa</option>
        </optgroup>
        <optgroup label="Korea (North)">
          <option value="Asia/Pyongyang">Pyongyang</option>
        </optgroup>
        <optgroup label="Korea (South)">
          <option value="Asia/Seoul">Seoul</option>
        </optgroup>
        <optgroup label="Kuwait">
          <option value="Asia/Kuwait">Kuwait</option>
        </optgroup>
        <optgroup label="Kyrgyzstan">
          <option value="Asia/Bishkek">Bishkek</option>
        </optgroup>
        <optgroup label="Laos">
          <option value="Asia/Vientiane">Vientiane</option>
        </optgroup>
        <optgroup label="Latvia">
          <option value="Europe/Riga">Riga</option>
        </optgroup>
        <optgroup label="Lebanon">
          <option value="Asia/Beirut">Beirut</option>
        </optgroup>
        <optgroup label="Lesotho">
          <option value="Africa/Maseru">Maseru</option>
        </optgroup>
        <optgroup label="Liberia">
          <option value="Africa/Monrovia">Monrovia</option>
        </optgroup>
        <optgroup label="Libya">
          <option value="Africa/Tripoli">Tripoli</option>
        </optgroup>
        <optgroup label="Liechtenstein">
          <option value="Europe/Vaduz">Vaduz</option>
        </optgroup>
        <optgroup label="Lithuania">
          <option value="Europe/Vilnius">Vilnius</option>
        </optgroup>
        <optgroup label="Luxembourg">
          <option value="Europe/Luxembourg">Luxembourg</option>
        </optgroup>
        <optgroup label="Macau">
          <option value="Asia/Macau">Macau</option>
        </optgroup>
        <optgroup label="Macedonia">
          <option value="Europe/Skopje">Skopje</option>
        </optgroup>
        <optgroup label="Madagascar">
          <option value="Indian/Antananarivo">Antananarivo</option>
        </optgroup>
        <optgroup label="Malawi">
          <option value="Africa/Blantyre">Blantyre</option>
        </optgroup>
        <optgroup label="Malaysia">
          <option value="Asia/Kuala_Lumpur">Kuala Lumpur</option>
          <option value="Asia/Kuching">Kuching</option>
        </optgroup>
        <optgroup label="Maldives">
          <option value="Indian/Maldives">Maldives</option>
        </optgroup>
        <optgroup label="Mali">
          <option value="Africa/Bamako">Bamako</option>
        </optgroup>
        <optgroup label="Malta">
          <option value="Europe/Malta">Malta</option>
        </optgroup>
        <optgroup label="Marshall Islands">
          <option value="Pacific/Kwajalein">Kwajalein</option>
          <option value="Pacific/Majuro">Majuro</option>
        </optgroup>
        <optgroup label="Martinique">
          <option value="America/Martinique">Martinique</option>
        </optgroup>
        <optgroup label="Mauritania">
          <option value="Africa/Nouakchott">Nouakchott</option>
        </optgroup>
        <optgroup label="Mauritius">
          <option value="Indian/Mauritius">Mauritius</option>
        </optgroup>
        <optgroup label="Mayotte">
          <option value="Indian/Mayotte">Mayotte</option>
        </optgroup>
        <optgroup label="Mexico">
          <option value="America/Bahia_Banderas">Bahia Banderas</option>
          <option value="America/Cancun">Cancun</option>
          <option value="America/Chihuahua">Chihuahua</option>
          <option value="America/Hermosillo">Hermosillo</option>
          <option value="America/Matamoros">Matamoros</option>
          <option value="America/Mazatlan">Mazatlan</option>
          <option value="America/Merida">Merida</option>
          <option value="America/Mexico_City">Mexico City</option>
          <option value="America/Monterrey">Monterrey</option>
          <option value="America/Ojinaga">Ojinaga</option>
          <option value="America/Santa_Isabel">Santa Isabel</option>
          <option value="America/Tijuana">Tijuana</option>
        </optgroup>
        <optgroup label="Micronesia">
          <option value="Pacific/Chuuk">Chuuk</option>
          <option value="Pacific/Kosrae">Kosrae</option>
          <option value="Pacific/Pohnpei">Pohnpei</option>
        </optgroup>
        <optgroup label="Moldova">
          <option value="Europe/Chisinau">Chisinau</option>
        </optgroup>
        <optgroup label="Monaco">
          <option value="Europe/Monaco">Monaco</option>
        </optgroup>
        <optgroup label="Mongolia">
          <option value="Asia/Choibalsan">Choibalsan</option>
          <option value="Asia/Hovd">Hovd</option>
          <option value="Asia/Ulaanbaatar">Ulaanbaatar</option>
        </optgroup>
        <optgroup label="Montenegro">
          <option value="Europe/Podgorica">Podgorica</option>
        </optgroup>
        <optgroup label="Montserrat">
          <option value="America/Montserrat">Montserrat</option>
        </optgroup>
        <optgroup label="Morocco">
          <option value="Africa/Casablanca">Casablanca</option>
        </optgroup>
        <optgroup label="Mozambique">
          <option value="Africa/Maputo">Maputo</option>
        </optgroup>
        <optgroup label="Myanmar (Burma)">
          <option value="Asia/Rangoon">Rangoon</option>
        </optgroup>
        <optgroup label="Namibia">
          <option value="Africa/Windhoek">Windhoek</option>
        </optgroup>
        <optgroup label="Nauru">
          <option value="Pacific/Nauru">Nauru</option>
        </optgroup>
        <optgroup label="Nepal">
          <option value="Asia/Kathmandu">Kathmandu</option>
        </optgroup>
        <optgroup label="Netherlands">
          <option value="Europe/Amsterdam">Amsterdam</option>
        </optgroup>
        <optgroup label="New Caledonia">
          <option value="Pacific/Noumea">Noumea</option>
        </optgroup>
        <optgroup label="New Zealand">
          <option value="Pacific/Auckland">Auckland</option>
          <option value="Pacific/Chatham">Chatham</option>
        </optgroup>
        <optgroup label="Nicaragua">
          <option value="America/Managua">Managua</option>
        </optgroup>
        <optgroup label="Niger">
          <option value="Africa/Niamey">Niamey</option>
        </optgroup>
        <optgroup label="Nigeria">
          <option value="Africa/Lagos">Lagos</option>
        </optgroup>
        <optgroup label="Niue">
          <option value="Pacific/Niue">Niue</option>
        </optgroup>
        <optgroup label="Norfolk Island">
          <option value="Pacific/Norfolk">Norfolk</option>
        </optgroup>
        <optgroup label="Northern Mariana Islands">
          <option value="Pacific/Saipan">Saipan</option>
        </optgroup>
        <optgroup label="Norway">
          <option value="Europe/Oslo">Oslo</option>
        </optgroup>
        <optgroup label="Oman">
          <option value="Asia/Muscat">Muscat</option>
        </optgroup>
        <optgroup label="Pakistan">
          <option value="Asia/Karachi">Karachi</option>
        </optgroup>
        <optgroup label="Palau">
          <option value="Pacific/Palau">Palau</option>
        </optgroup>
        <optgroup label="Palestine">
          <option value="Asia/Gaza">Gaza</option>
          <option value="Asia/Hebron">Hebron</option>
        </optgroup>
        <optgroup label="Panama">
          <option value="America/Panama">Panama</option>
        </optgroup>
        <optgroup label="Papua New Guinea">
          <option value="Pacific/Port_Moresby">Port Moresby</option>
        </optgroup>
        <optgroup label="Paraguay">
          <option value="America/Asuncion">Asuncion</option>
        </optgroup>
        <optgroup label="Peru">
          <option value="America/Lima">Lima</option>
        </optgroup>
        <optgroup label="Philippines">
          <option value="Asia/Manila">Manila</option>
        </optgroup>
        <optgroup label="Pitcairn">
          <option value="Pacific/Pitcairn">Pitcairn</option>
        </optgroup>
        <optgroup label="Poland">
          <option value="Europe/Warsaw">Warsaw</option>
        </optgroup>
        <optgroup label="Portugal">
          <option value="Atlantic/Azores">Azores</option>
          <option value="Europe/Lisbon">Lisbon</option>
          <option value="Atlantic/Madeira">Madeira</option>
        </optgroup>
        <optgroup label="Puerto Rico">
          <option value="America/Puerto_Rico">Puerto Rico</option>
        </optgroup>
        <optgroup label="Qatar">
          <option value="Asia/Qatar">Qatar</option>
        </optgroup>
        <optgroup label="Reunion">
          <option value="Indian/Reunion">Reunion</option>
        </optgroup>
        <optgroup label="Romania">
          <option value="Europe/Bucharest">Bucharest</option>
        </optgroup>
        <optgroup label="Russia">
          <option value="Asia/Anadyr">Anadyr</option>
          <option value="Asia/Irkutsk">Irkutsk</option>
          <option value="Europe/Kaliningrad">Kaliningrad</option>
          <option value="Asia/Kamchatka">Kamchatka</option>
          <option value="Asia/Khandyga">Khandyga</option>
          <option value="Asia/Krasnoyarsk">Krasnoyarsk</option>
          <option value="Asia/Magadan">Magadan</option>
          <option value="Europe/Moscow">Moscow</option>
          <option value="Asia/Novokuznetsk">Novokuznetsk</option>
          <option value="Asia/Novosibirsk">Novosibirsk</option>
          <option value="Asia/Omsk">Omsk</option>
          <option value="Asia/Sakhalin">Sakhalin</option>
          <option value="Europe/Samara">Samara</option>
          <option value="Asia/Ust-Nera">Ust-Nera</option>
          <option value="Asia/Vladivostok">Vladivostok</option>
          <option value="Europe/Volgograd">Volgograd</option>
          <option value="Asia/Yakutsk">Yakutsk</option>
          <option value="Asia/Yekaterinburg">Yekaterinburg</option>
        </optgroup>
        <optgroup label="Rwanda">
          <option value="Africa/Kigali">Kigali</option>
        </optgroup>
        <optgroup label="Samoa (American)">
          <option value="Pacific/Pago_Pago">Pago Pago</option>
        </optgroup>
        <optgroup label="Samoa (western)">
          <option value="Pacific/Apia">Apia</option>
        </optgroup>
        <optgroup label="San Marino">
          <option value="Europe/San_Marino">San Marino</option>
        </optgroup>
        <optgroup label="Sao Tome &amp; Principe">
          <option value="Africa/Sao_Tome">Sao Tome</option>
        </optgroup>
        <optgroup label="Saudi Arabia">
          <option value="Asia/Riyadh">Riyadh</option>
        </optgroup>
        <optgroup label="Senegal">
          <option value="Africa/Dakar">Dakar</option>
        </optgroup>
        <optgroup label="Serbia">
          <option value="Europe/Belgrade">Belgrade</option>
        </optgroup>
        <optgroup label="Seychelles">
          <option value="Indian/Mahe">Mahe</option>
        </optgroup>
        <optgroup label="Sierra Leone">
          <option value="Africa/Freetown">Freetown</option>
        </optgroup>
        <optgroup label="Singapore">
          <option value="Asia/Singapore">Singapore</option>
        </optgroup>
        <optgroup label="Slovakia">
          <option value="Europe/Bratislava">Bratislava</option>
        </optgroup>
        <optgroup label="Slovenia">
          <option value="Europe/Ljubljana">Ljubljana</option>
        </optgroup>
        <optgroup label="Solomon Islands">
          <option value="Pacific/Guadalcanal">Guadalcanal</option>
        </optgroup>
        <optgroup label="Somalia">
          <option value="Africa/Mogadishu">Mogadishu</option>
        </optgroup>
        <optgroup label="South Africa">
          <option value="Africa/Johannesburg">Johannesburg</option>
        </optgroup>
        <optgroup label="South Georgia &amp; the South Sandwich Islands">
          <option value="Atlantic/South_Georgia">South Georgia</option>
        </optgroup>
        <optgroup label="South Sudan">
          <option value="Africa/Juba">Juba</option>
        </optgroup>
        <optgroup label="Spain">
          <option value="Atlantic/Canary">Canary</option>
          <option value="Africa/Ceuta">Ceuta</option>
          <option value="Europe/Madrid">Madrid</option>
        </optgroup>
        <optgroup label="Sri Lanka">
          <option value="Asia/Colombo">Colombo</option>
        </optgroup>
        <optgroup label="St Barthelemy">
          <option value="America/St_Barthelemy">St Barthelemy</option>
        </optgroup>
        <optgroup label="St Helena">
          <option value="Atlantic/St_Helena">St Helena</option>
        </optgroup>
        <optgroup label="St Kitts &amp; Nevis">
          <option value="America/St_Kitts">St Kitts</option>
        </optgroup>
        <optgroup label="St Lucia">
          <option value="America/St_Lucia">St Lucia</option>
        </optgroup>
        <optgroup label="St Maarten (Dutch part)">
          <option value="America/Lower_Princes">Lower Princes</option>
        </optgroup>
        <optgroup label="St Martin (French part)">
          <option value="America/Marigot">Marigot</option>
        </optgroup>
        <optgroup label="St Pierre &amp; Miquelon">
          <option value="America/Miquelon">Miquelon</option>
        </optgroup>
        <optgroup label="St Vincent">
          <option value="America/St_Vincent">St Vincent</option>
        </optgroup>
        <optgroup label="Sudan">
          <option value="Africa/Khartoum">Khartoum</option>
        </optgroup>
        <optgroup label="Suriname">
          <option value="America/Paramaribo">Paramaribo</option>
        </optgroup>
        <optgroup label="Svalbard &amp; Jan Mayen">
          <option value="Arctic/Longyearbyen">Longyearbyen</option>
        </optgroup>
        <optgroup label="Swaziland">
          <option value="Africa/Mbabane">Mbabane</option>
        </optgroup>
        <optgroup label="Sweden">
          <option value="Europe/Stockholm">Stockholm</option>
        </optgroup>
        <optgroup label="Switzerland">
          <option value="Europe/Zurich">Zurich</option>
        </optgroup>
        <optgroup label="Syria">
          <option value="Asia/Damascus">Damascus</option>
        </optgroup>
        <optgroup label="Taiwan">
          <option value="Asia/Taipei">Taipei</option>
        </optgroup>
        <optgroup label="Tajikistan">
          <option value="Asia/Dushanbe">Dushanbe</option>
        </optgroup>
        <optgroup label="Tanzania">
          <option value="Africa/Dar_es_Salaam">Dar es Salaam</option>
        </optgroup>
        <optgroup label="Thailand">
          <option value="Asia/Bangkok">Bangkok</option>
        </optgroup>
        <optgroup label="Togo">
          <option value="Africa/Lome">Lome</option>
        </optgroup>
        <optgroup label="Tokelau">
          <option value="Pacific/Fakaofo">Fakaofo</option>
        </optgroup>
        <optgroup label="Tonga">
          <option value="Pacific/Tongatapu">Tongatapu</option>
        </optgroup>
        <optgroup label="Trinidad &amp; Tobago">
          <option value="America/Port_of_Spain">Port of Spain</option>
        </optgroup>
        <optgroup label="Tunisia">
          <option value="Africa/Tunis">Tunis</option>
        </optgroup>
        <optgroup label="Turkey">
          <option value="Europe/Istanbul">Istanbul</option>
        </optgroup>
        <optgroup label="Turkmenistan">
          <option value="Asia/Ashgabat">Ashgabat</option>
        </optgroup>
        <optgroup label="Turks &amp; Caicos Is">
          <option value="America/Grand_Turk">Grand Turk</option>
        </optgroup>
        <optgroup label="Tuvalu">
          <option value="Pacific/Funafuti">Funafuti</option>
        </optgroup>
        <optgroup label="US minor outlying islands">
          <option value="Pacific/Johnston">Johnston</option>
          <option value="Pacific/Midway">Midway</option>
          <option value="Pacific/Wake">Wake</option>
        </optgroup>
        <optgroup label="Uganda">
          <option value="Africa/Kampala">Kampala</option>
        </optgroup>
        <optgroup label="Ukraine">
          <option value="Europe/Kiev">Kiev</option>
          <option value="Europe/Simferopol">Simferopol</option>
          <option value="Europe/Uzhgorod">Uzhgorod</option>
          <option value="Europe/Zaporozhye">Zaporozhye</option>
        </optgroup>
        <optgroup label="United Arab Emirates">
          <option value="Asia/Dubai">Dubai</option>
        </optgroup>
        <optgroup label="United States">
          <option value="America/Adak">Adak</option>
          <option value="America/Anchorage">Anchorage</option>
          <option value="America/North_Dakota/Beulah">Beulah (North Dakota)</option>
          <option value="America/Boise">Boise</option>
          <option value="America/North_Dakota/Center">Center (North Dakota)</option>
          <option value="America/Chicago">Chicago</option>
          <option value="America/Denver">Denver</option>
          <option value="America/Detroit">Detroit</option>
          <option value="Pacific/Honolulu">Honolulu</option>
          <option value="America/Indiana/Indianapolis">Indianapolis (Indiana)</option>
          <option value="America/Juneau">Juneau</option>
          <option value="America/Indiana/Knox">Knox (Indiana)</option>
          <option value="America/Los_Angeles">Los Angeles</option>
          <option value="America/Kentucky/Louisville">Louisville (Kentucky)</option>
          <option value="America/Indiana/Marengo">Marengo (Indiana)</option>
          <option value="America/Menominee">Menominee</option>
          <option value="America/Metlakatla">Metlakatla</option>
          <option value="America/Kentucky/Monticello">Monticello (Kentucky)</option>
          <option value="America/North_Dakota/New_Salem">New Salem (North Dakota)</option>
          <option value="America/New_York">New York</option>
          <option value="America/Nome">Nome</option>
          <option value="America/Indiana/Petersburg">Petersburg (Indiana)</option>
          <option value="America/Phoenix">Phoenix</option>
          <option value="America/Sitka">Sitka</option>
          <option value="America/Indiana/Tell_City">Tell City (Indiana)</option>
          <option value="America/Indiana/Vevay">Vevay (Indiana)</option>
          <option value="America/Indiana/Vincennes">Vincennes (Indiana)</option>
          <option value="America/Indiana/Winamac">Winamac (Indiana)</option>
          <option value="America/Yakutat">Yakutat</option>
        </optgroup>
        <optgroup label="Uruguay">
          <option value="America/Montevideo">Montevideo</option>
        </optgroup>
        <optgroup label="Uzbekistan">
          <option value="Asia/Samarkand">Samarkand</option>
          <option value="Asia/Tashkent">Tashkent</option>
        </optgroup>
        <optgroup label="Vanuatu">
          <option value="Pacific/Efate">Efate</option>
        </optgroup>
        <optgroup label="Vatican City">
          <option value="Europe/Vatican">Vatican</option>
        </optgroup>
        <optgroup label="Venezuela">
          <option value="America/Caracas">Caracas</option>
        </optgroup>
        <optgroup label="Vietnam">
          <option value="Asia/Ho_Chi_Minh">Ho Chi Minh</option>
        </optgroup>
        <optgroup label="Virgin Islands (UK)">
          <option value="America/Tortola">Tortola</option>
        </optgroup>
        <optgroup label="Virgin Islands (US)">
          <option value="America/St_Thomas">St Thomas</option>
        </optgroup>
        <optgroup label="Wallis &amp; Futuna">
          <option value="Pacific/Wallis">Wallis</option>
        </optgroup>
        <optgroup label="Western Sahara">
          <option value="Africa/El_Aaiun">El Aaiun</option>
        </optgroup>
        <optgroup label="Yemen">
          <option value="Asia/Aden">Aden</option>
        </optgroup>
        <optgroup label="Zambia">
          <option value="Africa/Lusaka">Lusaka</option>
        </optgroup>
        <optgroup label="Zimbabwe">
          <option value="Africa/Harare">Harare</option>
        </optgroup>
      </select>
    </span>
  </td>
</tr>
